body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: red; */
  height: 100%;
}

.container {
  /* background: linear-gradient(135deg, #82abe2, #4169e1);
   */
   background-color: #8a2be2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  max-width: 400px;
  width: 90%;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.logo {
  width: 200px;
  /* height: 150px; */
  object-fit: contain;
}

p {
  color: #666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  border-radius: 5px;
  border:  1px solid #ccc;
  margin-bottom: 1rem;
}

button {
    padding: 0.5rem;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha) ;
    cursor: pointer;
    transition: background-color 0.9sec ease-in-out;
}

button:hover {
    background-color: #7a1dd1;
}